<% content_for :custom_head do %>
  <meta property="og:title" content="<%= moment.title %>" />
  <meta property="og:image" content="<%= "#{ENV["APP_URL"]}/t/#{URI.escape(moment.path)}/_cover.jpg" %>" />
  <meta property="twitter:title" content="<%= moment.title %>" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:site" content="@<%= ENV["TWITTER_HANDLE"] %>" />
  <meta property="twitter:description" content="<%= moment.text %>" />
  <meta property="twitter:image" content="<%= "#{ENV["APP_URL"]}/t/#{URI.escape(moment.path)}/_cover.jpg" %>" />
  <meta name="description" content="<%= moment.text %>" />
<% end %>
<div class="row post text">
  <h2><%= moment.title %></h2>
  <%= moment.text %>
</div>
<% moment.pictures.each do |picture| %>
  <div class="row picture">
    <img class="col-md-8  col-md-offset-2 col-xs-12 col-sm-12" src="/t<%= picture.path %>"/>
  </div>
<% end %>
